{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Meetings{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('meetings.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for meeting in meetings %}
    <article class="post">
      <header>
        <div>
          <h1>{{ meeting['title'] }}</h1>
          <div class="about">by {{ meeting['username'] }} on {{ meeting['created'].strftime('%Y-%m-%d') }}</div>
          <div class="about">To be reminded {{ meeting['hours_time'] }} hours before the Investors' Meeting starts</div>
        </div>
        {% if g.user['id'] == meeting['investor_id'] %}
          <a class="action" href="{{ url_for('meetings.update', id=meeting['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ meeting['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}